@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============= Base/Global styles ==============*/

* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  min-height: 100vh;
  flex-grow: 1;
 
}

h1, h2, h3 {
  margin: 0;
}

label, p {
  font-size: 1rem;
  margin: 0;
}

button {
  font-family: 'Oswald', sans-serif;
  height: 50px;
  background: rgb(220, 104, 75);
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
}


.login-input-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 2rem;
  padding: 0;
  border: none;
  gap: 2rem;
}

.login-cred {
  width: 100%;
  height: 3rem;
  border-radius: 6px;
  border: none;
  background-color: rgb(239, 239, 239);
  font-size: 1rem;
}

.optional-tag {
  font-style: italic;
  color: rgb(173, 173, 173);
  font-size: 1rem;
}

.hero-section {
  height: 30vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-new-workout-container:hover,
.date-dash:hover,
.cat-interface-btn-container:hover,
.category-interface-btn:hover {
  background: rgb(193, 91, 66);
}

/* ============= Login page ==============*/

.login-page-container,
.signup-page-container {
  width: 100vw;
  height: 100vh;
  background: white;
}

.login-page, .signup-page {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  width: 100%;
  max-width: 600px;
  margin: 5rem auto 0;
  background: white;
}

.login-form-title {
  margin: 0;
}

.login-form-span {
  margin: 0 0 3rem;
}

.login-form-span::after {
  content: "";
  display: block;
  width: 10rem;
  margin: .25rem auto;
  border-bottom: 5px solid rgb(183, 75, 47);
}

.login-input-fieldset {
  display: flex;
  gap: 1rem;
}

/* ============= SignUp page ==============*/

.sign-up, .switch-to-login {
  text-decoration: underline;
  color: rgb(84, 184, 241);
  cursor: pointer;
}

.sign-up-label {
  text-align: left;
}

.password-error {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.password-error-text {
  margin: 0;
  font-size: small;
  color: red;
}

.profile-creation-fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 2rem;
}

.profile-creation-container {
  margin-bottom: 2rem;
}

.name-and-age-container, .gender-and-weight-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.gender-container, .weight-container {
  width: 100%;
}

.weight-input-container, .height-container {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.height-first-measurement-container, .height-second-measurement-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.profile-select {
  font-size: 1rem;
  margin: 0;
  height: 2rem;
}

/* ============= header and nav styles ==============*/
header {
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
  z-index: 100;
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
}

.app-title {
  color: rgb(220, 104, 75);
  margin: .5rem 0;
}

.account-icon {
  margin-left: auto;
  color: rgb(220, 104, 75);
}

.user-menu {
  position: absolute;
  z-index: 5;
  top: 65px;
  right: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(220, 104, 75);
  padding: 0;
  width: 200px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  transition: .2s all ease;
  overflow: hidden;
}

.menu-item-link {
  text-decoration: none;
  color: white;
}

.menu-item {
  width: 100%;
  list-style: none;
  margin: 0;
  border-top: 1px solid rgb(191, 76, 48);
  padding: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.menu-item:hover {
  background: rgb(183, 75, 47);
}

/* ============ Settings.jsx styles ===================*/

.settings-page {
  margin-top: 6rem;
  padding: 0 1rem;
  text-align: left;
}

.settings-item {
  text-decoration: none;
  color: black;
}

.settings-item-description {
  color: rgb(166, 166, 166);
}

/* ============ UserProfile.jsx styles ===================*/

.user-profile-page {
  margin-top: 6rem;
  padding: 0 1rem;
  text-align: left;
}

.create-user-info-toggle-btn {
  background-color: #DC684B;
}

.userinfo-outer-div {
  
}

.user-info-data-item {
  border-bottom: 1px solid rgb(203, 203, 203);
  padding: .5rem;
  text-align: left;
}

.user-info-edit-item {
  padding: .5rem;
  border-radius: 6px;
  border: 1px solid lightgray;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}

.edit-profile-btn {
  background-color: #DC684B;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 0 auto;
  border-radius: 6px;
  color: white;
  gap: .5rem;
}

.cancel-save-container {
  margin-top: 3rem;
}

.cancel-save-container, .cancel-edit-btn, .save-edit-btn, .create-user-info-toggle-btn {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  color: white;
  gap: 1rem;
}

.cancel-edit-btn, .save-edit-btn {
  width: 100%;
  background-color: #DC684B;
}

/* ============ Category.jsx styles ===================*/

.category-dropdown {
  background: rgb(220, 104, 75);
  position: absolute;
  right: 10px;
  z-index: 2;
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 120px;
}



.category-component-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}


/*============ React Calendar ======================*/

.calendar-container {
  position: relative;
  padding-top: 1rem;
  width: 100%;
}

.calendar-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.close-btn {
  position: absolute;
  right: 1rem;
  padding: 0rem;
  color: rgb(220, 104, 75);
  border-radius: 6px;
}

.close-btn:hover {
  background: rgb(220, 104, 75);
  color: white;
}

.react-calendar {
  margin: 0 auto 3rem;
  text-align: center;
  min-width: 100%;
  max-width: 600px;
  border: none;
  padding:  1.5rem 1rem 1rem;
}

/*============ Dashboard styles ======================*/
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  position: relative;
  /* height: 100vh; */
  text-align: center;
}

.dash-hero {
  background: url("./assets/lifting1.png");
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dashboard-top-content-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
  width: 90%;
  max-width: 600px;
  margin: auto;
  justify-content: center;
  /* display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  margin-top: 1rem;
  width: 100%;
  max-width: 700px;
  margin: 0 auto; */
}

.log-container {
  box-shadow: 0 0 5px 2px rgb(220, 220, 220);
  border-radius: 6px;
  width: 100%;
  height: 175px;
  padding: 0 .5rem .5rem;
  background: rgb(246, 246, 246);
}

.log-title-container {
  display: flex;
  gap: .5rem;
  text-align: left;
  justify-content: left;
  padding: .75rem 0rem;
  align-items: center;
}

.dash-icon {
  color: rgb(193, 91, 66);
  font-size: 1.25rem;
}

.log-title {
  margin: 0;
}

.log-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 1rem .5rem;
  background: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  /* height: 50px; */
  font-size: 1rem;
}

.dashboard-bottom-container {
  padding: 1rem;
}

.graph-container {
  padding: 1rem;
  box-shadow: 0 0 5px 2px rgb(220, 220, 220);
  border-radius: 4px;
}

.graph {
  width: 100%;
}

.current-log-container,
.start-new-workout-container,
.date-dash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.current-log-title {
  color: lightgray;
  margin-top: 10rem;
}

.current-log-container {
  gap: 2rem;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}

.current-log-inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.rendered-ex-dash-container {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgb(176, 176, 176);
  border-radius: 6px;
  width: 90%;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
}

.dash-links-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100px;
}

.start-new-workout-container, .date-dash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  background: rgb(220, 104, 75);
  margin: 0;
  width: 100%;
  cursor: pointer;
}

.date-dash {
  border-right: 1px solid lightsalmon;
}

.link-portal-dash {
  text-decoration: none;
  color: white;
}

.link-text {
  margin-top: .5rem;
  font-size: 1rem;
}

/* timer styles */

.timer-modal {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-top: 1rem;
  gap: .5rem;
}

.timer-modal-title {}

.timer-modal-btns-container {
  width: 30%;
  display: flex;
  gap: .25rem;
}

.timer-btn {
  width: 50%;
}

.clock-container {
  width: 40%;
  border: 2px solid rgb(192, 192, 192);
  height: 50px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-clock {
  font-family: "Micro 5", sans-serif;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.timer-save-clear-container {
  width: 30%;
  display: flex;
  gap: .25rem;
}

.timer-clear, .timer-save {
  width: 50%;
}

.saved-time-text {
  position: absolute;
  transition: .2s ease all;
  overflow: hidden;
  margin: 1rem auto;
  right: 0;
  left: 0;
  max-width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

/* ======= WorkoutLogLayout Styles ========= */

.workout-log-layout {
  text-align: center;
}

.log-hero {
  background: url("./assets/dumbbell.png");
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ======= WorkoutLog Page Styles ========= */

.workout-log {
  margin-top: 0;
 
}

.current-log-container {
  margin-top: 1rem;
}

.current-workout-skel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
}

.workout-skel-div-main {
  margin-top: 1rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.workout-skel-div {
  padding-bottom: 2rem;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.workout-skel-mini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* rendered workout styles */

.ex-name-container {
  border-bottom: 1px solid rgb(183, 75, 47);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.curr-ex-delete {
  font-size: 1rem;
}

.all-sets-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.set-container {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  gap: 1rem;
  align-items: center;
  
}

.hidden-el {
  width: 24px;
  visibility: hidden;
}

.pr-icon {
  color: #DC684B;
  font-size: 1rem;
}

.set-reps {
  text-align: left;
}
.set-weight {
  width: 100px;
  margin-left: auto;
}

.edit-ex {
  margin-left: auto;
  font-size: 1rem;
}

.delete-set {
  font-size: 1rem;
}

.add-set-link {
  width: 100%;
}

.set-detail {
  display: flex;
  flex-direction: column;
}

.add-set-btn {
  width: 50%;
  height: 50px;
  margin: 1rem auto;
  text-align: center;
  
}

/*=============== EditSetModal.jsx styles ====================*/

.edit-set-modal {
  text-align: center;
  box-shadow: 0 0 10px 2px rgb(176, 176, 176);
  border-radius: 6px;
  margin: auto;
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.edit-set-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-set-close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.new-reps-container, .new-weight-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.edit-set-text {
  font-size: 1.5rem;
}

.edit-set-input {
  border: 5px solid rgb(191, 76, 48);
  border-radius: 6px;
  height: 50px;
  width: 70%;
  font-size: 1.5rem;
}

.confirm-edit-set-btn {
  margin: auto 0 0;
}

/*=============== ExerciseDetail.jsx styles ====================*/

.set-detail {
  margin-top: 100px;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
}

.ex-detail-back-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  background: #DC684B;
  padding: .5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
  color: white;
}

.dash-input-fieldset {
  padding: 0;
  border: none;
}

.ex-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border: none;
}

.ex-info-text {
  margin: 0;
}

.ex-info-btns-container {
  text-align: center;
}

.ex-info-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.ex-info-select-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.q-btn {
  font-size: 3rem;
  margin: 0;
}

.reps-input, .weight-input {
  height: 35px;
  width: 150px;
  border: none;
  border-bottom: 2px solid lightgray;
  font-size: 2rem;
  text-align: center;
}

.weight-type {
  margin: 0;
}

.add-set-btn {
  color: white;
}

/*=============== AllCategories.jsx styles ====================*/

/* CategoryBtns Styles start */

.category-interface-btns-outer-container {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.cat-interface-btn-container {
  width: 25%;
  background: rgb(220, 104, 75);
  padding: .5rem 0 1rem;
}

.category-interface-btn {
  width: 100%;
  color: white;
  border-radius: 0;
  background: none;
}

.category-interface-btn-text {
  margin: 0;
  font-size: 1rem;
  color: white;
}

/* CategoryBtns end */

.all-ex-page-container {
  text-align: center;
  width: 90%;
  max-width: 900px;
  margin: 3rem auto 0;
}

.search-ex-form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-magnifying-glass {
  width: 10%;
  font-size: 1.5rem;
}

.search-ex-input:focus {
  border: none;
}

.skeleton-cat-container {
  padding: 1rem 0;
}

.category-container,
.exercise-container,
.skeleton-cat-container,
.settings-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(205, 205, 205);
  font-size: 1.5rem;
  width: 100%;
}

.category-name-link {
  width: 75%;
  text-decoration: none;
  color: #DC684B;
}

.category-name {
  font-size: 1.5rem;
  text-align: left;
}

.category-component-btns {
  width: 20%;
  display: flex;
  justify-content: right;
}

.category-edit, .category-delete {
  transition: .2s ease-in-out;
  cursor: pointer;
}

.category-edit:hover {
  color: rgb(220, 104, 75);
}

/* AllCategories.jsx Modals */

.edit-modal,
.confirm-delete-modal {
  position: absolute;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 0 10px 1px rgb(122, 122, 122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.modal-title {
  font-size: 2rem;
}

.edit-cat-input {
  height: 30px;
  width: 90%;
  margin: 0 auto 1rem;
}

.edit-modal-btns-container,
.confirm-delete-modal-btns-container {
  display: flex;
  gap: .5rem;
}

/*========== SearchTool.jsx ============*/

.search-container {
  position: absolute;
  top: 6.5rem;
  width: 100%;
  padding: 0 1rem;
  transition: .2s all ease;
}

.search-tool {
  transition: .2s all ease;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.search-ex-input {
 
  border: none;
  border-radius: 8px 0 0 8px;
  padding: 1rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  transition: .2s all ease;
  overflow: hidden;
  width: 90%;
  border: 2px solid lightgray;
}

.close-search {
  width: 10%;
  font-size: 1.5rem;
  background: #DC684B;
  height: 50px;
  border-radius: 0 6px 6px 0;
  color: white;
  padding-top: .75rem;
}

.search-query-list {
  background: white;
  /* box-shadow: 0 0 8px 2px rgb(197, 197, 197); */
  padding: 0;
  height: 65vh;
  list-style: none;
  overflow-y: auto;
  border-radius: 7px;
}

.search-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 1rem 2rem;
}

.search-query-list-item {
  color: black;
  font-size: 1.5rem;
  text-align: left;
}
/*=================== NewEx.jsx styles ====================*/

.add-ex-form {
  position: fixed;
  background: white;
  top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90%;
  max-width: 600px;
  margin: 1rem auto 0;
  font-size: 1.5rem;
  box-shadow: 0 0 8px 2px rgb(152, 152, 152);
  border-radius: 4px;
  padding: 1rem;
}

.close-add-ex {
  margin-left: auto;
  font-size: 2.5rem;
  color: rgb(220, 104, 75);
}

.new-ex-name, select {
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(220, 104, 75);
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 2rem;
}

.message {
  color: rgb(220, 104, 75);
}

/*============ NewCat.jsx styles ===================*/

.new-cat-container {
  position: fixed;
  top: 100px;
  right: 50px;
  left: 50px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
  height: 300px;
  max-width: 300px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 10px 1px rgb(131, 131, 131);
  padding: 1rem;

}

.new-cat {
  height: 2rem;
  width: 90%;
  margin: 1rem auto;
}

.new-cat-btns-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto auto 0 auto;
  justify-content: center;
  gap: .5rem;
}

.cancel-btn {
  background: #DC684B;
  margin: 0;
  border-radius: 6px;
}

.cancel-btn, .confirm-btn {
  font-family: "Oswald", sans-serif;
  border: 1px solid rgb(122, 122, 122);
  font-size: 1.5rem;
  width: 50%;
  height: 40px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.cancel-cat:hover, .save-cat:hover {
  background: rgb(220, 104, 75);
}

/* =========== LoadedExercises styles ============= */

.rendered-ex-container {
  display: flex;
  margin: 0rem auto 0 0;
  flex-direction: column;
}

.rendered-ex-header {
  padding: 1rem;
  border-bottom: 2px solid rgb(218, 218, 218);
  text-align: left;
}

.exercise-container {
  padding: 1rem 0;
}

.back-btn-container {
  display: flex;
  align-items: center;
  gap: .5rem;
}

/* .back-to-cats-text {
  margin: 0;
} */

.rendered-ex-list {
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin: 0;
  padding: 0 1rem;
}

.no-exercise-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ======= Nutrition Log Styles ======= */

.nutrition-log-layout {
  text-align: center;
}

.food-log-hero {
  background: url("./assets/food.png");
  color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cal-remaining-section {
  padding: 1rem;
  border-bottom: 2px solid #DC684B;
}

.calories-remaining-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.nutrition-log {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.log-mini {
  border: 2px solid #f2f2f2;
  width: 90%;
  max-width: 500px;
  margin: auto;
  text-align: left;
  border-radius: 5px;
}

.food-log-link {
  text-decoration: none;
}

.food-log-link-text {
  padding: .25rem 0;
  background: #DC684B;
  text-align: center;
  color: white;
  margin: auto;
  border-radius: 0 0 5px 5px;
}

.food-log-title {
  background: rgb(241, 241, 241);
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
}

.search-food-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.food-search {
  padding: 1rem;
  height: 100%;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  border: 2px solid lightgray;
  border-radius: 5px 0 0 5px;
}

.food-search-btn {
  padding: 1rem .5rem;
  border-radius: 0 5px 5px 0;
  height: 100%;
  border: 2px solid #DC684B;
}

.food-search-btn:hover {
  background: #c65d42;
}

.search-food-icon {
  height: 100%;
  font-size: 2rem;
  color: white;
}

.rendered-foods-container {
  text-align: left;
  padding: 1rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.food-description{}
.food-calories-preview{}

.food-detail-page {
  margin-top: 6rem;
  padding: 0 1rem;
}

.food-detail-top-container {
  display: flex;
  margin-bottom: 2rem;
}

.all-nutrients-container {}

.nutrient-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 1rem 0;
}

/* ======= Footer Styles ======== */

footer {
  position: sticky;
  margin-top: auto;
  width: 100%;
  bottom: 0;
}

.footer-nav {
  background: rgb(220, 104, 75);
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

.footer-menu-item-link {
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.footer-nav-item-text {
  margin: 0;
  font-size: 1rem;
  text-decoration: none;
}

/* utility classes / components */
.hide {
  display: none;
}

.back-btn-text {
  margin: 0;
}

.set-added-modal {
  background: rgb(220, 104, 75);
  color: black;

}

.back-btn-breadcrumb-container, .back-btn-breadcrumb-link {
  display: flex;
  text-decoration: none;
  gap: .5rem
}

.back-btn-link-text, .arrow-back {
  margin: 0;
  color: #cccccc;
}

.back-btn-current-text {
  margin: 0;
  color: #DC684B;
}