
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

h2, h3, label, p {
  font-size: 1.5rem;
}

button {
  font-family: 'Oswald', sans-serif;
  height: 50px;
  background: rgb(191, 76, 48);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.5rem;
}

/* ============= header and nav styles ==============*/
header {
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
}

.app-title {
  color: rgb(220, 104, 75);
  margin: .5rem 0;
}

.nav {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 20px;
  align-items: center;
}

.nav-item {
  font-size: 1.5em;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.nav-item:hover,
.main-nav-link {
  color: rgb(220, 104, 75);
}

.main-nav-link {
  color: white;
}

.user-menu {
  position: absolute;
  z-index: 2;
  top: 38px;
  right: -15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(220, 104, 75);
  padding: 0;
  width: 200px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  transition: .2s all ease;
  overflow: hidden;
}

.menu-item-link {
  text-decoration: none;
  color: white;
}

.menu-item {
  width: 100%;
  list-style: none;
  margin: 0;
  border-top: 1px solid rgb(191, 76, 48);
  padding: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.menu-item:hover {
  background: rgb(183, 75, 47);
}

/* ============ Category.jsx styles ===================*/

.category-container {
 
}

.category-dropdown {
  background: rgb(220, 104, 75);
  position: absolute;
  right: 10px;
  z-index: 2;
  font-size: 1.5rem;
  color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  width: 120px;
}



.category-component-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*============ Dashboard styles ======================*/
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 4rem 0 0;
  position: relative;
}

.current-log-container,
.start-new-workout-container,
.see-previous-workout-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.current-log-title {
  color: lightgray;
}

.current-log-container {
  gap: 2rem;
}

.rendered-ex-dash-container {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgb(176, 176, 176);
  border-radius: 6px;
  width: 90%;
  max-width: 500px;
  padding: 1rem;
  text-align: center;
}

.dash-links-container {
  margin: 3rem 0;
}

.link-portal-dash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(220, 104, 75);
  margin: 2rem 0;
}

.link-text {
  margin-top: .5rem;
}
/* rendered workout styles */

.ex-name-container {
  border-bottom: 1px solid rgb(183, 75, 47);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.current-ex-name {
  
}

.curr-ex-delete {
  position: absolute;
  top: 24px;
  right: 0;
  font-size: 1.5rem;
}

.all-sets-container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.set-container {
  width: 100%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  gap: 1rem;
  align-items: center;
  
}

.set-number {
  
}
.set-reps {
  text-align: left;
  margin-left: auto;
}
.set-weight {
  width: 100px;
}

.edit-ex {
  margin-left: auto;
}

.add-set-link {
  width: 100%;
}

.set-detail {
  display: flex;
  flex-direction: column;
}

.add-set-btn {
  width: 50%;
  height: 50px;
  margin: 1rem auto;
  text-align: center;
  
}

/*=============== EditSetModal.jsx styles ====================*/

.edit-set-modal {
  position: sticky;
  top: 4rem;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  box-shadow: 0 0 10px 2px rgb(176, 176, 176);
  border-radius: 6px;
  width: 95%;
  height: 95vh;
  max-height: 600px;
  max-width: 600px;
  margin: auto;
  background: white;
  z-index: 10;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.edit-set-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-set-title {}

.edit-set-close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.new-reps-container, .new-weight-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.edit-set-text {
  font-size: 1.5rem;
}

.edit-set-input {
  border: 5px solid rgb(191, 76, 48);
  border-radius: 6px;
  height: 50px;
  width: 70%;
  font-size: 1.5rem;
}

.confirm-edit-set-btn {
  margin: auto 0 0;
}

/*=============== ExerciseDetail.jsx styles ====================*/

.dash-input-fieldset {
  padding: 0;
  border: none;
}

.ex-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border: none;
}

.ex-info-text {
  margin: 0;
}

.ex-info-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.q-btn {
  font-size: 3rem;
  margin: 0;
}

.reps-input, .weight-input {
  height: 35px;
  width: 150px;
  border: none;
  border-bottom: 2px solid lightgray;
  font-size: 2rem;
  text-align: center;
}

.weight-type {
  margin: 0;
}

/*=============== AllCategories.jsx styles ====================*/

.all-ex-page-container,
.rendered-ex-list {
  text-align: center;
  width: 90%;
  max-width: 900px;
  margin: 1rem auto 0;
}

.search-ex-form {
  width: 100%;
  display: flex;
  align-items: center;
}

.fa-magnifying-glass {
  width: 10%;
  font-size: 1.5rem;
}

.search-ex-input {
  width: 90%;
  margin: 0 auto;
  height: 2rem;
  border: none;
  border-bottom: 2px solid lightgray;
  padding: 1em;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

.search-ex-input:focus {
  border: none;
}

.category-container,
.exercise-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  font-size: 1.5rem;
  width: 100%;
}

.category-name-link {
  width: 75%;
}

.category-name {
  font-size: 1.5rem;
  text-align: left;
}

.category-component-btns {
  width: 20%;
  display: flex;
  justify-content: right;
}

.category-edit, .category-delete {
  transition: .2s ease-in-out;
  cursor: pointer;
}

.category-edit:hover {
  color: rgb(220, 104, 75);
}

/* AllCategories.jsx Modals */

.edit-modal,
.confirm-delete-modal {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 10px 1px rgb(122, 122, 122);
}

.edit-cat-input {
  height: 30px;
  width: 90%;
  margin: 0 auto 1rem;
}

.edit-modal-btns-container,
.confirm-delete-modal-btns-container {
  display: flex;
}

/*=================== NewEx.jsx styles ====================*/

.add-ex-form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.new-ex-name, select {
  height: 50px;
  border: none;
  border-bottom: 1px solid rgb(220, 104, 75);
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 2rem;
}

.message {
  color: rgb(220, 104, 75);
}

/*============ NewCat.jsx styles ===================*/

.new-cat-container {
  position: fixed;
  top: 100px;
  right: 50px;
  left: 50px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 70%;
  height: 300px;
  max-width: 300px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 10px 1px rgb(131, 131, 131);
}

.new-cat-title {
  
}

.new-cat {
  height: 2rem;
  width: 90%;
  margin: 1rem auto;
}

.new-cat-btns-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto auto 0 auto;
  justify-content: center;
}

.cancel-btn {
  background: #EFEFEF;
  border: 1px solid rgb(122, 122, 122);
  height: 40px;
  width: 50%;
  margin: 0;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.confirm-btn {
  font-family: "Oswald", sans-serif;
  border: 1px solid rgb(122, 122, 122);
  font-size: 1.5rem;
  width: 50%;
  height: 40px;
  cursor: pointer;
  transition: .2s ease-in-out;
}

.cancel-cat:hover, .save-cat:hover {
  background: rgb(220, 104, 75);
}

/* utility classes / components */
.hide {
  display: none;
}

.back-btn {
  position: absolute;
  margin: 1rem 0 0 1rem;
}

.arrow-back {
  font-size: 2rem
}

.back-btn-text {
  margin: 0;
}

.set-added-modal {
  background: rgb(220, 104, 75);
  color: black;

}